<%= content_tag :div, class: "row" do %>
  <%= content_tag :div, id: "responsive", class: "col-sm-offset-3 col-sm-6" do %>

    <div class="panel panel-default">
      
      <div class="panel-heading">
        <div class="panel-title bold">
          Create an account
        </div>
      </div>
      <div class="panel-body">

				<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {autocomplete: "off"}) do |f| %>
				  <%= devise_error_messages! %>

				  <div class="form-group">
				  	<a class="btn btn-primary scale bg-primary" href="#">
				  		Sign in with Instagram
				  	</a>
				  </div>

				  <div class="form-group">
				  	<%= f.label :email %>
				  	<%= f.email_field :email, class: "form-control", placeholder: "email" %>
					</div>

				  <div class="form-group">
						<%= f.label :password %>
				    <%= f.password_field :password, class: "form-control"  %>
					</div>

				  <%= f.submit "Sign up", class: "btn btn-primary" %>

					<span class="clear mts">
						<%= render "devise/shared/links" %>
					</span>
				<% end %>


			</div><!-- /. PANEL-BODY -->
		</div><!-- /. PANEL -->

  <% end %>
<% end %>