<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @authentication.user_id %>
</p>

<p>
  <strong>Access token:</strong>
  <%= @authentication.access_token %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @authentication.instagram_id %>
</p>

<%= link_to 'Edit', edit_authentication_path(@authentication) %> |
<%= link_to 'Back', authentications_path %>
